@media screen and (max-width:700px) { 

.contenedorGeneral{
    display: none;
}

.contenedorDISP{
    width:100vw;
    height:100vh;
    overflow: hidden;
    background:rgb(89, 89, 89);
}

.cols{
    width:100vw;
    height:60vh;
    display:flex;
    flex-direction:row;
    background: yellowgreen;
}

.menu{
    width:20vw;
    height:60vh;
    display:flex;
    flex-direction:column;
    background:rgb(10, 61, 5);
}

.contenidos{
    width:80vw;
    height:60vh;
    display:flex;
    flex-direction:column;
    background: rgb(72, 13, 22);
}

.filas{
    width:80vw;
    height:20vh;
    display:flex;
    background: rgb(83, 85, 9);
    border:1px solid black;
}
.contFinal2{
    width:100vw;
    height:40vh;
    background: rgb(9, 99, 83); 
}
}